[Unit]
Description=Promtail Log Shipper
After=network.target loki.service

[Service]
User=loki
Group=loki
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/promtail.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
